*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.card {
    width: 18%;
    column-gap: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
}

.big-card {
    width: 60%;
    column-gap: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.big-card img {
    width: 100%;
    height: 640px;
    object-fit: cover;
}
.card h2 {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

@media screen and (max-width: 600px){
    .card {
        width: 90%;
        column-gap: 10px;
        margin-bottom: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 800px){
    .card {
        width: 90%;
        column-gap: 10px;
        margin-bottom: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem;
        overflow: hidden;
    }
}
